@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>
    Aplikacja BeFit nie przechowuje danych wrażliwych użytkowników.
    Dane treningowe są wykorzystywane wyłącznie do zarządzania sesjami i ćwiczeniami.
</p>